<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDb" connectionString="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;Initial Catalog=TrackableDataTest" />
  </connectionStrings>
  <appSettings>
    <add key="xunit.parallelizeTestCollections" value="false"/>
  </appSettings>
</configuration>