<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="SourceDb" connectionString="Server=datawork.saladbowl.corp;User Id=testagent;Password=testtest;Initial Catalog=DfsGame0" />
    <add name="TargetDb" connectionString="Server=mongodb://localhost;Initial Catalog=Model" />
  </connectionStrings>
</configuration>
